
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.formulario > button{
    background-color: transparent;
    border: none;
    border: 2px solid blue;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 13px;
    cursor: pointer;
}